# Secrets
config.py

# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv
.env
env/
venv/
ENV/
env.bak/
venv.bak/
frames/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Solara/Jupyter
.ipynb_checkpoints
.jupyter

# files
agents_simplified.py
buffer.py
Capture.PNG
multiagent_food_trails.py
multiagent_interactive.py
multiagent_test_v2.py
multiagent_test.py
overlay.py
swarm_simulation.mp4
